.customIntroTooltip * {
  color: var(--text-color-primary);
  a {
    background-color: #{--main-bg-color};
    border: 1px solid var(--text-color-primary);
    text-shadow: none;
    &:hover {
      color: var(--mian-color);
    }
  }
}

.customIntroTooltip {
  width: 300px;
  background-color: #{--main-bg-color};
  border: 1px solid var(--text-color-primary);
  .introjs-skipbutton {
    font-size: 14px;
  }
}

.customIntroHighlight {
  border: 1px solid var(--text-color-primary);
}
