.custom-intro-tooltip * {
  color: var(--text-color-primary);

  a {
    border: 1px solid var(--text-color-primary);
    background-color: #{--main-bg-color};
    text-shadow: none;

    &:hover {
      color: var(--main-color);
    }
  }
}

.custom-intro-tooltip {
  width: 300px;
  border: 1px solid var(--text-color-primary);
  background-color: #{--main-bg-color};

  .introjs-skipbutton {
    font-size: var(--font-size-base);
  }
}

.custom-intro-highlight {
  border: 1px solid var(--text-color-primary);
}
