@use '@/styles/var/index.scss' as *;

#app {
  .app-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }

  .main-container {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    width: calc(100vw - #{$sideBarWidth});
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .main-container-tabs {
      width: 100%;
      height: #{$tabsPageHeight};
      background-color: $TabsPageColor;
    }
  }

  .sidebar-container {
    max-width: $sideBarWidth;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 0;
    background-color: $menuBg;
    box-shadow: 1px 0 2px rgb(28 29 30 / 8%);
    transition: all 0.3s;
    border-right: 1px solid var(--border-color-light);

    --el-menu-base-level-padding: 18px;
    --el-menu-level-padding: 18px;
    --el-menu-icon-width: 20px;

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .el-menu {
      width: $sideBarWidth;
      height: 100%;
      border: none;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar {
      height: 100%;
      flex: 1;
    }

    .el-menu-item {
      color: $menuItemText;

      .menu-item-svg {
        font-size: var(--font-size-large);
        line-height: 0;
        color: $menuItemText;
        transition: all 0.3s ease-in-out;
      }
    }

    .one-level-menu-item {
      padding-left: 0;
      .menu-item-svg {
        width: $sideHideBarWidth;
      }
      > .menu-item-text-only {
        padding-left: var(--el-menu-base-level-padding);
      }
    }

    .one-level-sub-menu {
      > .el-sub-menu__title {
        padding-left: 0;
        .sub-menu-svg {
          width: $sideHideBarWidth;
        }
      }
      > .menu-item-text-only {
        padding-left: var(--el-menu-base-level-padding);
      }
    }

    .el-menu-item.is-active::before {
      background-color: #{$menuItemActiveBorderLeft};
    }

    .el-menu-item.is-active {
      color: $menuItemActiveText !important;
      background-color: $menuItemActiveBg !important;

      .menu-item-svg {
        color: $menuItemActiveText !important;
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-sub-menu__title {
      color: $menuText;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: $menuBg;

      .el-sub-menu__icon-arrow {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }

      .sub-menu-svg {
        font-size: var(--font-size-large);
        line-height: 0;
        color: $menuText;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: $menuHoverText !important;
        background-color: $menuHover;

        .sub-menu-svg,
        .menu-item-svg {
          color: $menuHoverText !important;
        }
      }
    }

    .is-active > .el-sub-menu__title {
      color: $menuActiveText !important;

      .sub-menu-svg {
        color: $menuActiveText !important;
      }
    }

    & .nest-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $menuItemBg;

      &:hover {
        color: $menuItemHoverText !important;
        background-color: $menuItemHover;

        .menu-item-svg {
          color: $menuItemHoverText !important;
        }
      }
    }
  }

  .hideSidebar {
    max-width: $sideHideBarWidth;
    .el-menu--collapse {
      width: $sideHideBarWidth;
    }

    .el-sub-menu {
      & > .el-sub-menu__title {
        .el-sub-menu__icon-arrow {
          opacity: 0;
        }
      }
    }

    .one-level-menu-item {
      padding: 0;
      > .menu-item-text-only {
        width: $sideHideBarWidth;
        padding: 0 calc(var(--el-menu-base-level-padding) - 10px);
        text-align: center;
      }
    }

    .one-level-sub-menu {
      > .el-sub-menu__title {
        padding: 0;
      }
      > .menu-item-text-only {
        width: $sideHideBarWidth;
        padding: 0 calc(var(--el-menu-base-level-padding) - 10px);
        text-align: center;
      }
    }
  }

  // 水平菜单
  .sidebar-horizontal {
    --el-menu-item-height: #{$navBarHeight};
    width: 100%;
    height: 100%;

    .el-sub-menu__title {
      .sub-menu-svg {
        margin-right: 10px;
        font-size: var(--font-size-large);
        line-height: 0;
      }
    }

    .el-menu-item {
      background-color: $menuItemBg;

      .menu-item-svg {
        margin-right: 10px;
        font-size: var(--font-size-large);
      }
    }
  }
}

// when menu collapsed
.el-menu--vertical,
.el-menu--horizontal {
  background-color: $menuBg;
  border: none;
  .el-sub-menu > .el-sub-menu__title {
    background-color: $menuItemBg;
    &:hover {
      color: $menuHoverText !important;
      background-color: $menuHover;

      .sub-menu-svg {
        color: $menuHoverText !important;
      }
    }
  }

  .el-sub-menu.is-active > .el-sub-menu__title,
  .nest-menu .is-active .el-sub-menu__title {
    color: $menuActiveText;

    .sub-menu-svg {
      color: $menuActiveText;
    }
  }

  .el-menu-item,
  > .el-menu--popup .el-menu-item {
    background-color: $menuItemBg;
    // border-left: #{$menuItemBorderLeft} solid 3px;
    &:hover {
      color: $menuItemHoverText;
      background-color: $menuItemHover;

      .menu-item-svg {
        color: $menuItemHoverText;
      }
    }
  }
  .el-menu-item.is-active {
    color: $menuItemActiveText !important;
    background-color: $menuItemActiveBg !important;

    .menu-item-svg {
      color: $menuItemActiveText !important;
    }
  }
  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    padding: 0;
    overflow-y: auto;

    .el-sub-menu__title {
      color: $menuText;

      .sub-menu-svg {
        margin-right: 10px;
        color: $menuText;
      }
    }

    .el-menu-item {
      color: $menuItemText;

      .menu-item-svg {
        margin-right: 10px;
        color: $menuItemText;
      }
    }
  }
}
