/* 根据element 主题统一配色 */
:root {
  // 统一颜色主题
  --color-white: #ffffff;
  --mian-color: var(--el-color-primary); //主色
  --sub-color: var(--el-color-primary-light-5); //浅蓝1
  --sub-color-2: var(--el-color-primary-light-8); //浅蓝2

  // 主题背景颜色
  --main-bg-color: #ffffff; // 首选背景颜色
  --sub-main-bg-content: #f5f6fa; //次选背景颜色

  // 主题文字颜色
  --text-color-primary: var(--el-text-color-primary); // 首选文字颜色
  --text-color-regular: var(--el-text-color-regular); // 次选文字颜色
  --text-color-placeholder: var(--el-text-color-placeholder); //分割线/备注

  --border-color-light: var(--el-border-color-light);
}

html.dark {
  --main-bg-color: #212121; // 首选背景颜色
  --sub-main-bg-content: #151515; //次选背景颜色
}
