// 左侧导航栏
$sideBarWidth: 210px;
$navBarHeight: 54px;
$BreadcrumbHeight: 50px; //面包屑高度

$menuBg: #212121; // 侧边栏背景颜色
$menuHover: #212121; // 焦点背景色
$menuHoverText: #fff; //焦点文字颜色
$menuBorderLeft: #fff; //左描边背景颜色
$menuText: #909399; //文字颜色
$menuActiveText: #fff; //选中的文字颜色

$menuItemBg: #212121; //二级背景颜色
$menuItemBorderLeft: #212121; //未选中的背景颜色
$menuItemHoverText: #fff;
$menuItemActiveText: #fff;
$subMenuItemBg: #2d2d2d; //二级选中背景颜色
$subMenuItemBorderLeft: #409eff; //二级左描边背景颜色
$menuItemHover: #212121; //二级焦点背景颜色

$appMainBgColor: #f5f6fa; //app-mian背景颜色
$navBarColor: #151515; //顶部导航栏背景颜色
$navBarBorderBottomColor: #4a4a4a;
$BreadcrumbColor: #151515; //面包屑背景颜色
$BreadcrumbText: #fff;

:export {
  menutext: $menuText;
  menuactivetext: $menuActiveText;
  menubg: $menuBg;
  menuhover: $menuHover;
  sidebarwidth: $sideBarWidth;
}
