// 统一颜色主题
$color-white: #ffffff;
$mian-color: #409eff; //主色
$sub-color: #212121;
$sub-color1: #153150;

// 主题背景颜色
$main-bg-color: #212121; // 首选背景颜色
$sub-main-bg-content: #151515; //次选背景颜色

// 主题文字颜色
$text-color-primary: #c9d1d9; // 首选文字颜色
$text-color-regular: #dee2e6; // 次选文字颜色
$text-color-secondary: #ffffff; // 标题/选中
$text-color-placeholder: #4a4a4a; //分割线/备注
