// 统一颜色主题
$color-white: #ffffff;
$mian-color: #409eff; //主色
$sub-color: #a5cfff; //浅蓝1
$sub-color1: #ecf5ff; //浅蓝2

// 主题背景颜色
$main-bg-color: #ffffff;
$sub-main-bg-content: #f5f6fa;

// 主题文字颜色
$text-color-primary: #909399;
$text-color-regular: #606266;
$text-color-secondary: #303133;
$text-color-placeholder: #ebeef5;
