.error-container[data-v-429338d1] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 88px;
}
.error-container .error-icon[data-v-429338d1] {
  color: var(--main-color);
}
.error-container .error-icon .icon[data-v-429338d1] {
  width: 260px;
  height: 95px;
}
.error-container .error-icon .icon[data-v-429338d1] svg {
  width: 100%;
  height: 100%;
}
.error-container .text[data-v-429338d1] {
  margin-top: 24px;
  color: var(--text-color-regular);
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  text-align: center;
}
.error-container .description[data-v-429338d1] {
  margin: 24px 0;
  color: var(--text-color-regular);
  font-size: var(--font-size-base);
  font-weight: 400;
}
