.submit-btn[data-v-e447c03b] {
  width: 100%;
}
.form-item-container[data-v-e447c03b] {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back[data-v-a85671ec] {
  background-color: red;
}
.page-container[data-v-a85671ec] {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s linear;
  border-radius: 0;
}
.page-container .container[data-v-a85671ec] {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 0 2rem;
}
.page-container .container .head[data-v-a85671ec] {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}
.page-container .container .head .application[data-v-a85671ec] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-container .container .head .application .icon-size[data-v-a85671ec] {
  font-size: var(--font-size-extra-large);
}
.page-container .container .head .application .item[data-v-a85671ec] {
  margin-left: 20px;
}
.page-container .container .head .logo[data-v-a85671ec] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-container .container .head .logo .logo_img[data-v-a85671ec] {
  width: 32px;
  height: 32px;
}
.page-container .container .head .logo .logo_name[data-v-a85671ec] {
  color: #999;
  font: 700 200% Consolas, Monaco, monospace;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 8px;
}
.page-container .container .login-box[data-v-a85671ec] {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 15px 25px #0009;
  padding: 40px;
  text-align: center;
}
.page-container .container .login-box .login-form[data-v-a85671ec] {
  width: 360px;
}
.page-container .container .login-box .login-form .avatar[data-v-a85671ec] {
  width: 350px;
  height: 80px;
}
.page-container .container .login-box .login-form .input-group[data-v-a85671ec] {
  position: relative;
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid var(--border-color-light);
}
.page-container .container .login-box .login-form .input-group[data-v-a85671ec]:nth-child(1) {
  margin-bottom: 4px;
}
.page-container .container .login-box .login-form .input-group[data-v-a85671ec]:before,
.page-container .container .login-box .login-form .input-group[data-v-a85671ec]:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #c5d3f7;
  transition: 0.5s;
}
.page-container .container .login-box .login-form .input-group[data-v-a85671ec]:after {
  right: 50%;
}
.page-container .container .login-box .login-form .input-group[data-v-a85671ec]:before {
  left: 50%;
}
.page-container .container .login-box .login-form .icon[data-v-a85671ec] {
  color: #d9d9d9;
  font-size: var(--font-size-base);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container .container .login-box .login-form .input-group > div[data-v-a85671ec] {
  position: relative;
  height: 45px;
  flex: 1;
}
.page-container .container .login-box .login-form .input-group > div > h5[data-v-a85671ec] {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #d9d9d9;
  font-size: var(--font-size-base);
  transition: 0.3s;
  margin: 0;
  padding: 0;
}
.page-container .container .login-box .login-form .input-group.focus .icon[data-v-a85671ec] {
  color: var(--main-color);
}
.page-container .container .login-box .login-form .input-group.focus div h5[data-v-a85671ec] {
  top: -5px;
  font-size: var(--font-size-base);
}
.page-container .container .login-box .login-form .input-group.focus[data-v-a85671ec]:after,
.page-container .container .login-box .login-form .input-group.focus[data-v-a85671ec]:before {
  width: 50%;
}
.page-container .container .login-box .login-form .input[data-v-a85671ec] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 8px;
  font-size: var(--font-size-base);
  color: var(--text-color-primary);
  font-family: Roboto, sans-serif;
}
.page-container .container .login-box .login-form .input[data-v-a85671ec]:-webkit-autofill {
  background: none;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-color-primary);
}
.page-container .container .login-box .login-form a[data-v-a85671ec] {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}
.page-container .container .login-box .login-form a[data-v-a85671ec]:hover {
  color: var(--main-color);
}
.page-container .container .login-box .login-form .btn[data-v-a85671ec] {
  padding: 10px 20px;
  width: 100%;
  margin-top: 30px;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s linear;
}
