.card-content[data-v-9daffcbd] {
  height: 300px;
  overflow: auto;
}
.list[data-v-9daffcbd] {
  width: 100%;
}
.list .list-item[data-v-9daffcbd] {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--border-color-light);
}
.list .list-item .handle[data-v-9daffcbd] {
  margin-right: 20px;
  cursor: move;
}
.list .sortable-chosen[data-v-9daffcbd] {
  border: 1px solid red;
}
.listgrid[data-v-9daffcbd] {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100px 100px 100px;
}
.listgrid .list-item[data-v-9daffcbd] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color-light);
  cursor: move;
}
