.icon[data-v-9caf1b25] {
  color: var(--text-color-primary);
  font-size: var(--font-size-extra-large);
}
.theme[data-v-0562984a] {
  position: relative;
  width: 48px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: 151515;
  border: 1px solid var(--text-color-primary);
  padding: 0 5px;
  font-size: 0.8em;
  border-radius: 30px;
}
.theme .theme-inner[data-v-0562984a] {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-primary);
  border-radius: 50%;
  transition: transform 0.5s, background-color 0.5s;
  will-change: transform;
}
.theme-dark .theme-inner[data-v-0562984a] {
  transform: translate(calc(100% + 4px));
}
.icon[data-v-0562984a] {
  font-size: 1em;
}
.account .wave[data-v-8b21a544] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
