[data-v-a9f931d1]:root {
  --width: 30px;
}
.scroll-num[data-v-a9f931d1] {
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  overflow: hidden;
  animation: enhance-bounce-in-down-a9f931d1 1s calc(var(--delay) * 1s) forwards;
}
ul[data-v-a9f931d1] {
  animation: move-a9f931d1 0.3s linear infinite,
    bounce-in-down-a9f931d1 1s calc(var(--delay) * 1s) forwards;
}
@keyframes move-a9f931d1 {
  0% {
    transform: translateY(-90%);
    filter: url(#blur);
  }
  to {
    transform: translateY(1%);
    filter: url(#blur);
  }
}
@keyframes bounce-in-down-a9f931d1 {
  0% {
    transform: translateY(calc(var(--i) * -9.09% - 7%));
    filter: none;
  }
  25% {
    transform: translateY(calc(var(--i) * -9.09% + 3%));
  }
  50% {
    transform: translateY(calc(var(--i) * -9.09% - 1%));
  }
  70% {
    transform: translateY(calc(var(--i) * -9.09% + 0.6%));
  }
  85% {
    transform: translateY(calc(var(--i) * -9.09% - 0.3%));
  }
  to {
    transform: translateY(calc(var(--i) * -9.09%));
  }
}
@keyframes enhance-bounce-in-down-a9f931d1 {
  25% {
    transform: translateY(8%);
  }
  50% {
    transform: translateY(-4%);
  }
  70% {
    transform: translateY(2%);
  }
  85% {
    transform: translateY(-1%);
  }
  to {
    transform: translateY(0);
  }
}
.rebound[data-v-bf1793a0] {
  display: flex;
  align-items: center;
}
