.pdf .app-header[data-v-b32afb2e] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--border-color-light);
  background-color: var(--main-bg-color);
  color: var(--text-color-primary);
}
.pdf .app-header .config[data-v-b32afb2e] {
  display: flex;
  align-items: center;
}
.pdf .app-header .config .icon[data-v-b32afb2e] {
  margin-right: 12px;
  font-size: var(--font-size-large);
}
