.pdf[data-v-3dac3c96] {
  min-height: 100%;
}
.pdf .app-header[data-v-3dac3c96] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--border-color-light);
  background-color: var(--main-bg-color);
  color: var(--text-color-primary);
}
.pdf .app-header .config[data-v-3dac3c96] {
  display: flex;
  align-items: center;
}
.pdf .app-header .config .icon[data-v-3dac3c96] {
  font-size: var(--font-size-large);
  margin-right: 12px;
}
.pdf .textLayer[data-v-3dac3c96] {
  background-color: var(--main-bg-color);
  color: var(--text-color-primary);
}
