.svg-icon[data-v-09ff63c6] {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  margin: 0;
  color: currentcolor;
  font-size: 1em;
}
.svg-icon .svg[data-v-09ff63c6] {
  width: 1em;
  height: 1em;
  color: currentcolor;
}
.svg-icon .svg use[data-v-09ff63c6] {
  fill: currentcolor;
}
