.card-header[data-v-b6e12e9c] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header span[data-v-b6e12e9c] {
  margin-right: 20px;
}
.warp[data-v-b6e12e9c] {
  height: 200px;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.warp ul[data-v-b6e12e9c] {
  width: 100%;
  height: 100%;
}
