.page-container[data-v-d4a82a36] {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.page-container .input[data-v-d4a82a36] {
  width: 49%;
  height: 100%;
}
.page-container .input[data-v-d4a82a36] .el-textarea__inner {
  height: 100% !important;
}
.page-container .marked[data-v-d4a82a36] {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  border: 1px solid var(--text-color-placeholder);
}
