.app-main {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: auto;
  padding: 20px;
  background-color: var(--sub-main-bg-content);
}
.fixed-header + .app-main {
  padding-top: 50px;
}
.main-container-tabs[data-v-e302b7ad] {
  display: flex;
  position: relative;
}
.main-container-tabs .tabs-view .tabs-view-item[data-v-e302b7ad] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.main-container-tabs .el-tabs[data-v-e302b7ad] {
  width: 0;
  height: 38px;
  flex: 1;
  margin: 0 10px;
}
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header {
  height: 100%;
  margin: 0;
  border: none;
}
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header .el-tabs__nav-wrap,
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header .el-tabs__nav-scroll {
  height: 100%;
}
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header .el-tabs__nav-scroll {
  display: flex;
  align-items: center;
}
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header .el-tabs__nav-scroll .el-tabs__nav {
  border: none;
  border-radius: 0;
}
.main-container-tabs
  .el-tabs[data-v-e302b7ad]
  .el-tabs__header
  .el-tabs__nav-scroll
  .el-tabs__nav
  .el-tabs__item {
  height: 100%;
  line-height: 28px;
  border-radius: 4px;
  border: 1px solid var(--border-color-light);
  margin-right: 4px;
}
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header .el-tabs__nav-next,
.main-container-tabs .el-tabs[data-v-e302b7ad] .el-tabs__header .el-tabs__nav-prev {
  height: 38px;
  line-height: 38px;
}
.main-container-tabs .right-view[data-v-e302b7ad] {
  position: fixed;
  z-index: 999;
  background-color: var(--main-bg-color);
  border: 1px solid var(--border-color-light);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 12px #1c1d1e14;
}
.main-container-tabs .right-view .right-view-item[data-v-e302b7ad] {
  padding: 5px 10px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.main-container-tabs .right-view .right-view-item .right-view-item-icon[data-v-e302b7ad] {
  margin-right: 5px;
}
.main-container-tabs .right-view .right-view-item[data-v-e302b7ad]:hover {
  background-color: var(--sub-color-8);
}
.main-container-tabs .right-button ul[data-v-e302b7ad] {
  display: flex;
}
.main-container-tabs .right-button ul li[data-v-e302b7ad] {
  width: 38px;
  text-align: center;
  height: 38px;
  font-size: var(--font-size-medium);
  border-left: 1px solid var(--border-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container-tabs .right-button ul li .action-item[data-v-e302b7ad] {
  font-size: var(--font-size-medium);
  height: 38px;
}
.main-container-tabs .right-button ul .refresh-button[data-v-e302b7ad] {
  animation: rotate-e302b7ad 0.6s linear infinite;
}
@keyframes rotate-e302b7ad {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
.sub-el-icon[data-v-eb7cc837] {
  width: 1em;
  height: 1em;
}
.color-list[data-v-43e28501] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.color-list .color-list-item[data-v-43e28501] {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-list .color-list-item .icon[data-v-43e28501] {
  color: #fff;
}
.options[data-v-43e28501] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.options .color-picker[data-v-43e28501] {
  position: relative;
  width: 50px;
  height: 24px;
}
.options .color-picker span[data-v-43e28501] {
  display: block;
  width: 100%;
  height: 100%;
}
.options .color-picker .mask[data-v-43e28501] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
}
.options .color-picker[data-v-43e28501] .vc-colorpicker {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 99;
}
.options[data-v-13680537] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.options .color-picker[data-v-13680537] {
  position: relative;
  width: 50px;
  height: 24px;
}
.options .color-picker span[data-v-13680537] {
  display: block;
  width: 100%;
  height: 100%;
}
.options .select[data-v-13680537] {
  width: 100px;
}
.setting[data-v-a4dde866] .el-drawer__header {
  margin-bottom: 0;
}
.drawer-content[data-v-a4dde866] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.drawer-content .layout_seting .sidebar_seting[data-v-a4dde866] {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.drawer-content .layout_seting .sidebar_seting .sidebar_mode-select[data-v-a4dde866] {
  border: 2px solid var(--main-color);
}
.drawer-content .layout_seting .sidebar_seting .sidebar_mode[data-v-a4dde866] {
  position: relative;
  width: 80px;
  height: 60px;
  background: #f0f2f5;
  border-radius: 5px;
  box-shadow: 0 1px 2.5px #0000002e;
  overflow: hidden;
}
.drawer-content
  .layout_seting
  .sidebar_seting
  .sidebar_mode:nth-child(1)
  div[data-v-a4dde866]:nth-child(1) {
  width: 30%;
  height: 100%;
  background: var(--main-color);
}
.drawer-content
  .layout_seting
  .sidebar_seting
  .sidebar_mode:nth-child(1)
  div[data-v-a4dde866]:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 30%;
  background: #fff;
  box-shadow: 0 0 1px #888;
}
.drawer-content
  .layout_seting
  .sidebar_seting
  .sidebar_mode:nth-child(2)
  div[data-v-a4dde866]:nth-child(1) {
  width: 100%;
  height: 30%;
  background: var(--main-color);
  box-shadow: 0 0 1px #888;
}
.drawer-content
  .layout_seting
  .sidebar_seting
  .sidebar_mode:nth-child(3)
  div[data-v-a4dde866]:nth-child(1) {
  width: 30%;
  height: 100%;
  background: #fff;
}
.drawer-content
  .layout_seting
  .sidebar_seting
  .sidebar_mode:nth-child(3)
  div[data-v-a4dde866]:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background: var(--main-color);
  box-shadow: 0 0 1px #888;
}
.drawer-content[data-v-a4dde866] .el-divider__text {
  text-align: center;
}
.drawer-content .clear_storage[data-v-a4dde866] {
  margin-top: 24px;
  width: 100%;
}
.breadcrumb-unfold {
  transform: rotate(180deg);
}
.breadcrumb[data-v-93ebfb7e] {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.breadcrumb .app-fold[data-v-93ebfb7e] {
  margin-right: 10px;
}
.breadcrumb .app-breadcrumb.el-breadcrumb .redirect[data-v-93ebfb7e] {
  color: var(--text-color-primary);
}
.breadcrumb .app-breadcrumb.el-breadcrumb .no-redirect[data-v-93ebfb7e] {
  color: #97a8be;
  cursor: text;
}
.app-logo[data-v-6936206f] {
  width: 210px;
  height: 50px;
  font-size: 38px;
  display: flex;
  align-items: center;
}
.app-logo .logo[data-v-6936206f] {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-logo .logo .logo_img[data-v-6936206f] {
  width: 38px;
  height: 38px;
}
.app-logo .name[data-v-6936206f] {
  width: 100%;
  flex: 1;
  font-size: 22px;
  font-weight: 500;
  transition: all 0.5s;
  overflow: hidden;
}
.app-logo-hide .name[data-v-6936206f] {
  opacity: 0;
  transform: translate(-20px);
}
.navbar[data-v-5fbe5d9c] {
  width: 100%;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--border-color-light);
  box-shadow: 1px 0 20px #00000014;
}
.navbar .navbar-content[data-v-5fbe5d9c] {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-extra-large);
}
.navbar .navbar-content .logo_img[data-v-5fbe5d9c] {
  width: 38px;
  height: 38px;
}
.navbar .navbar-content .navbar-center[data-v-5fbe5d9c] {
  height: 100%;
  min-width: 0;
  flex: 1;
}
.navbar .navbar-content .navbar-right[data-v-5fbe5d9c] {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  margin-right: 10px;
}
.navbar .setting-icon[data-v-5fbe5d9c] {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 99;
  display: flex;
  padding: 8px;
  background-color: var(--main-color);
  color: #fff;
  font-size: var(--font-size-extra-large);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.sidebar-container .sidebar-fold[data-v-28546dbe] {
  border-top: 1px solid var(--border-color-light);
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-extra-large);
}
.drawer-sidebar {
  width: 210px !important;
  background-color: var(--main-bg-color);
}
.drawer-sidebar .el-drawer__body {
  padding: 0 !important;
  height: 100vh;
  overflow: hidden;
}
.drawer-sidebar .el-drawer__body .sidebar-container {
  height: 100%;
}
