.app-main {
  position: relative;
  flex: 1;
  width: 100%;
  padding: 20px;
  overflow: auto;
  background-color: var(--sub-main-bg-content);
}
.fixed-header + .app-main {
  padding-top: 50px;
}
.main-container-tabs[data-v-3dbeca49] {
  display: flex;
  position: relative;
}
.main-container-tabs .tabs-container[data-v-3dbeca49] {
  flex: 1;
  width: 0;
}
.main-container-tabs .tabs-container .tabs-view .tabs-view-item[data-v-3dbeca49] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-container-tabs .el-tabs[data-v-3dbeca49] {
  height: 38px;
  margin: 0 10px;
}
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header {
  height: 100%;
  margin: 0;
  border: none;
}
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header .el-tabs__nav-wrap,
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header .el-tabs__nav-scroll {
  height: 100%;
}
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header .el-tabs__nav-scroll {
  display: flex;
  align-items: center;
}
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header .el-tabs__nav-scroll .el-tabs__nav {
  border: none;
  border-radius: 0;
}
.main-container-tabs
  .el-tabs[data-v-3dbeca49]
  .el-tabs__header
  .el-tabs__nav-scroll
  .el-tabs__nav
  .el-tabs__item {
  height: 100%;
  margin-right: 4px;
  border: 1px solid var(--border-color-light);
  border-radius: 4px;
  line-height: 28px;
}
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header .el-tabs__nav-next,
.main-container-tabs .el-tabs[data-v-3dbeca49] .el-tabs__header .el-tabs__nav-prev {
  height: 38px;
  line-height: 38px;
}
.main-container-tabs .right-view[data-v-3dbeca49] {
  position: fixed;
  z-index: 999;
  padding: 5px;
  border: 1px solid var(--border-color-light);
  border-radius: 5px;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 12px #1c1d1e14;
}
.main-container-tabs .right-view .right-view-item[data-v-3dbeca49] {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: var(--font-size-base);
}
.main-container-tabs .right-view .right-view-item .right-view-item-icon[data-v-3dbeca49] {
  margin-right: 5px;
}
.main-container-tabs .right-view .right-view-item[data-v-3dbeca49]:hover {
  background-color: var(--sub-color-8);
}
.main-container-tabs .right-button ul[data-v-3dbeca49] {
  display: flex;
}
.main-container-tabs .right-button ul li[data-v-3dbeca49] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-left: 1px solid var(--border-color-light);
  font-size: var(--font-size-medium);
  text-align: center;
}
.main-container-tabs .right-button ul li .action-item[data-v-3dbeca49] {
  height: 38px;
  font-size: var(--font-size-medium);
}
.main-container-tabs .right-button ul .refresh-button[data-v-3dbeca49] {
  animation: rotate-3dbeca49 0.6s linear infinite;
}
@keyframes rotate-3dbeca49 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
.sidebar-menu-item-text[data-v-aaac767f] {
  flex: 1;
  width: 0;
}
.menu-item-text[data-v-aaac767f],
.menu-item-text .el-text[data-v-aaac767f] {
  color: currentcolor;
}
.color-list[data-v-94bff42c] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.color-list .color-list-item[data-v-94bff42c] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.color-list .color-list-item .icon[data-v-94bff42c] {
  color: #fff;
}
.options[data-v-94bff42c] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.options .color-picker[data-v-94bff42c] {
  position: relative;
  width: 50px;
  height: 24px;
}
.options .color-picker span[data-v-94bff42c] {
  display: block;
  width: 100%;
  height: 100%;
}
.options .color-picker .mask[data-v-94bff42c] {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.options .color-picker[data-v-94bff42c] .vc-colorpicker {
  position: absolute;
  z-index: 99;
  top: 30px;
  right: 0;
}
.options[data-v-9be18640] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.options .color-picker[data-v-9be18640] {
  position: relative;
  width: 50px;
  height: 24px;
}
.options .color-picker span[data-v-9be18640] {
  display: block;
  width: 100%;
  height: 100%;
}
.options .select[data-v-9be18640] {
  width: 100px;
}
.setting[data-v-1f8c5127] .el-drawer__header {
  margin-bottom: 0;
}
.drawer-content[data-v-1f8c5127] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.drawer-content .layout-seting .sidebar-seting[data-v-1f8c5127] {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.drawer-content .layout-seting .sidebar-seting .sidebar-mode-select[data-v-1f8c5127] {
  border: 2px solid var(--main-color);
}
.drawer-content .layout-seting .sidebar-seting .sidebar-mode[data-v-1f8c5127] {
  position: relative;
  width: 80px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  background: #f0f2f5;
  box-shadow: 0 1px 2.5px #0000002e;
}
.drawer-content
  .layout-seting
  .sidebar-seting
  .sidebar-mode:nth-child(1)
  .sidebar-mode__left[data-v-1f8c5127] {
  width: 30%;
  height: 100%;
  background: var(--main-color);
}
.drawer-content
  .layout-seting
  .sidebar-seting
  .sidebar-mode:nth-child(1)
  .sidebar-mode__top[data-v-1f8c5127] {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 30%;
  background: #fff;
  box-shadow: 0 0 1px #888;
}
.drawer-content
  .layout-seting
  .sidebar-seting
  .sidebar-mode:nth-child(2)
  .sidebar-mode__top[data-v-1f8c5127] {
  width: 100%;
  height: 30%;
  background: var(--main-color);
  box-shadow: 0 0 1px #888;
}
.drawer-content
  .layout-seting
  .sidebar-seting
  .sidebar-mode:nth-child(3)
  .sidebar-mode__left[data-v-1f8c5127] {
  width: 30%;
  height: 100%;
  background: #fff;
}
.drawer-content
  .layout-seting
  .sidebar-seting
  .sidebar-mode:nth-child(3)
  .sidebar-mode__top[data-v-1f8c5127] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background: var(--main-color);
  box-shadow: 0 0 1px #888;
}
.drawer-content[data-v-1f8c5127] .el-divider__text {
  text-align: center;
}
.drawer-content .clear-storage[data-v-1f8c5127] {
  width: 100%;
  margin-top: 24px;
}
.breadcrumb-unfold {
  transform: rotate(180deg);
}
.breadcrumb[data-v-0e6e7b88] {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.breadcrumb .app-fold[data-v-0e6e7b88] {
  margin-right: 10px;
}
.breadcrumb .app-breadcrumb.el-breadcrumb .redirect[data-v-0e6e7b88] {
  color: var(--text-color-primary);
}
.breadcrumb .app-breadcrumb.el-breadcrumb .no-redirect[data-v-0e6e7b88] {
  color: #97a8be;
  cursor: text;
}
.app-logo[data-v-21aed579] {
  display: flex;
  align-items: center;
  width: 210px;
  height: 50px;
  font-size: 38px;
}
.app-logo .logo[data-v-21aed579] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
}
.app-logo .logo .logo-img[data-v-21aed579] {
  width: 38px;
  height: 38px;
}
.app-logo .name[data-v-21aed579] {
  flex: 1;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  font-size: 22px;
  font-weight: 500;
}
.app-logo-hide .name[data-v-21aed579] {
  transform: translate(-20px);
  opacity: 0;
}
.navbar[data-v-7edc7d24] {
  width: 100%;
  border-bottom: 1px solid var(--border-color-light);
  background-color: var(--main-bg-color);
  box-shadow: 1px 0 20px #00000014;
}
.navbar .navbar-content[data-v-7edc7d24] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: var(--font-size-extra-large);
}
.navbar .navbar-content .navbar-center[data-v-7edc7d24] {
  flex: 1;
  min-width: 0;
  height: 100%;
}
.navbar .navbar-content .navbar-right[data-v-7edc7d24] {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  margin-right: 10px;
}
.navbar .setting-icon[data-v-7edc7d24] {
  display: flex;
  position: fixed;
  z-index: 99;
  top: 50%;
  right: 0;
  padding: 8px;
  transform: translateY(-50%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--main-color);
  color: #fff;
  font-size: var(--font-size-extra-large);
}
.sidebar-container .sidebar-fold[data-v-a4e4fcf8] {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid var(--border-color-light);
  font-size: var(--font-size-extra-large);
}
.drawer-sidebar {
  width: 210px !important;
  background-color: var(--main-bg-color);
}
.drawer-sidebar .el-drawer__body {
  height: 100vh;
  padding: 0 !important;
  overflow: hidden;
}
.drawer-sidebar .el-drawer__body .sidebar-container {
  height: 100%;
}
