.el-icon[data-v-436eaeb2] {
  width: 1em;
  height: 1em;
  margin: 0;
  font-size: 1em;
  color: currentcolor;
}
.svg-icon[data-v-436eaeb2] {
  display: block;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
}
.svg-icon .svg[data-v-436eaeb2] {
  width: 1em;
  height: 1em;
}
.svg-icon .svg use[data-v-436eaeb2] {
  fill: currentcolor;
}
