.config[data-v-409b1bec] {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.region[data-v-409b1bec] {
  width: 100%;
  height: 500px;
  border: 1px solid #e3e3e3;
  margin-top: 12px;
  overflow-y: auto;
}
