.chartRef[data-v-d98487d8],
.chartRef[data-v-cb571d22] {
  width: 100%;
  height: 362px;
}
.chartRef[data-v-47ebfe9f] {
  width: 100%;
  height: 410px;
}
.comment[data-v-fd19a0e4] {
  width: 100%;
  height: 410px;
  overflow-y: auto;
}
.comment .item[data-v-fd19a0e4] {
  display: flex;
}
.comment .item img[data-v-fd19a0e4] {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.comment .item .item-content[data-v-fd19a0e4] {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.comment .item .item-content .title[data-v-fd19a0e4] {
  font-size: var(--font-size-medium);
}
.comment .item .item-content .time[data-v-fd19a0e4] {
  font-size: var(--font-size-extra-small);
  margin: 5px 0;
}
.comment .item .item-content .text[data-v-fd19a0e4] {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box-card[data-v-39d3dea6] {
  margin-bottom: 20px;
}
.box-card[data-v-39d3dea6] .el-card__header {
  padding-bottom: 0;
  border: none;
}
.box-card .card-header[data-v-39d3dea6] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.box-card .card-content[data-v-39d3dea6] .el-progress-bar__outer {
  height: 17px !important;
}
.box-card .card-content .numerical-value[data-v-39d3dea6] {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.box-card .card-content .numerical-value .number[data-v-39d3dea6] {
  color: var(--text-color-primary);
  font-size: var(--font-size-extra-large);
  font-weight: 600;
}
